body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

video {
 display: flex;
}

.message-form {
  z-index: 999;
  position: fixed; /* Hoặc position: absolute */
  top: 50%;
  right: 20px; /* Đặt khoảng cách từ popup đến lề phải của màn hình */
  transform: translateY(-50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80vh; /* Chiều cao tối đa là 80% của chiều cao hiển thị của trình duyệt */
  overflow-y: auto; /* Cho phép cuộn nếu popup quá cao */
}

/* Các quy tắc khác giữ nguyên */



.thanks-form {
  z-index: 999;
  position: absolute;
  top: 5px;
  right: 5px;
  max-width: 220px;
}

.footer {
  z-index: 999;
  position: absolute;
  bottom: 35px;
  left: 5px;
  padding: 5px;
}
.form-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 45%; /* Điều chỉnh chiều rộng của các cột */
}



